{{ define "main" }}
<section id="about_section">
    <div class="enquiry_hero_banner">
        <div style="border: 2px solid #fff;" class="hero_div">
            <nav class="navbar bg-body-tertiary navbar-expand-lg py-5 mt-3 mb-5 animated-element fade-in">
                <div class="container-fluid px-5 mx-5">
                    <a class="navbar-brand" href="/">
                        <img src="/imgs/udaya-hardwares-logo.png" alt="udaya_hardwares_logo" class="navbar_logo_img">
                    </a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas"
                        data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar"
                        aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar"
                        aria-labelledby="offcanvasNavbarLabel">
                        <div class="offcanvas-header">
                            <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Offcanvas</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="offcanvas"
                                aria-label="Close"></button>
                        </div>
                        <div class="offcanvas-body">
                            <ul class="navbar-nav justify-content-end flex-grow-1">
                                <li class="nav-item pe-5">
                                    <a class="nav-link" href="/">Home</a>
                                </li>
                                <li class="nav-item pe-5">
                                    <a class="nav-link" href="/about-us">About Udaya</a>
                                </li>
                                <li class="nav-item pe-5">
                                    <a class="nav-link" href="/shop">Shop</a>
                                </li>
                                <li class="nav-item pe-5">
                                    <a class="nav-link" href="/brands">Brands</a>
                                </li>
                                <li class="nav-item pe-5">
                                    <a class="nav-link" href="/branches">Branches</a>
                                </li>
                                <li class="nav-item pe-5">
                                    <a class="nav-link" href="/enquiry">Enquiry</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/contact-us">Contact Us</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </nav>
            <div class="container">
                <div class="row">
                    <div class="col-md-8 text-start py-4 animated-element slide-right">
                        <h1 class="enquiry_hero_heading display-2 fw-medium" style="color: #FAEACB;">About Us</h1>
                        <h2 class="enquiry_hero_subheading lh-base py-3 pb-4" style="color: #fff;">At Udaya Hardwares,
                            we take pride in being your go-to source for all things hardware.</h2>
                        <div class="enquiry_btn_div d-flex justify-content-between animated-element fade-in" style="animation-delay: 0.6s;">
                            <div class="d-flex align-items-center">
                                <button type="submit" class="enquiry_btn fs-5 fw-semibold">DISCOVER MORE</button>
                            </div>
                            <div>

                            </div>
                            <div class="d-flex align-items-center">
                                <i class="bi bi-arrow-right fs-3"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 hero_imgs_div position-relative animated-element slide-left">
                        <img src="/imgs/hero_img_1.png" alt="" class="hero_img_1 position-absolute">
                        <img src="/imgs/hero_banner_img_2.png" alt="" class="hero_img_2 position-absolute">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="about_about_us_section py-5 my-5">
        <div class="container">
            <div class="row">
                <div class="col-md-6 animated-element slide-right">
                    <div class="d-flex align-items-center contact_heading_div py-3 mb-5">
                        <img src="/imgs/breadcrumb_icon.png" alt="breadcrumb_icon" style="height: 3rem;">
                        <h1 class="text-center contact_heading mb-0 ps-3">About Us</h1>
                    </div>
                    <p class="fs-4" style="color: #FFE5B5;">Who we Are</p>
                    <div class="">
                        <div class="d-flex animated-element slide-up">
                            <div>
                                <p style="color: #FFE5B5;" class="mb-0">At <span style="color: #EFA20F;">Udaya Hardwares</span>, we take pride in being your go-to source for all things hardware. With years of experience and a dedication to delivering quality, we are committed to offering the finest products and dependable service to each customer.</p>
                            </div>
                        </div>
                        <div class="d-flex pt-4 animated-element slide-up" style="animation-delay: 0.2s;">
                            <div class="align-self-center me-4" style="color: #FFF;">
                                <i class="bi bi-caret-right-fill"></i>
                            </div>
                            <div>
                                <p style="color: #FFE5B5;" class="mb-0">Delivering quality, on time - with value and expertise.</p>
                            </div>
                        </div>
                        <div class="d-flex pt-2 animated-element slide-up" style="animation-delay: 0.4s;">
                            <div class="align-self-center me-4" style="color: #FFF;">
                                <i class="bi bi-caret-right-fill"></i>
                            </div>

                            <div>
                                
                                <p style="color: #FFE5B5;" class="mb-0">Trusted quality, timely delivery, expert support.</p>
                            </div>
                        </div>
                        <div class="d-flex pt-2 animated-element slide-up" style="animation-delay: 0.4s;">
                            <div class="align-self-center me-4" style="color: #FFF;">
                                <i class="bi bi-caret-right-fill"></i>
                            </div>

                            <div>
                                
                                <p style="color: #FFE5B5;" class="mb-0">High-quality solutions. Competitive prices. Reliable service.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 animated-element slide-left">
                    <div>
                        <img src="/imgs/about_us_main_img.png" alt="" class="w-100">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="what_sets_us_apart_section">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="d-flex align-items-center contact_heading_div py-3 mb-5">
                        <img src="/imgs/breadcrumb_icon.png" alt="breadcrumb_icon" style="height: 3rem;">
                        <h1 class="text-center contact_heading mb-0 ps-3">What Sets Us Apart</h1>
                    </div>
                </div>
            </div>
            <div class="row vision_mission_div">
                <div class="col-12">
                    <p class="fs-3 fw-semibold text-center mb-0 py-5" style="color: #FFF;">Vision and Mission</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div>
                        <p>VISION</p>
                        <p>To be a trusted destination for quality hardware, tiles, and kitchenware, driven by excellence and customer satisfaction.</p>
                    </div>
                </div>
                <div class="col-md-12">
                    <div>
                        
                        <p>MISSION</p>
                        <p>Udaya Hardware delivers quality tiles, kitchenware, and hardware at fair prices, with trusted service and expert support.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{{ end }}