{{define "main"}}

<section id="contact_section">
    <div class="enquiry_hero_banner">
        <div style="border: 2px solid #fff;" class="hero_div">
            <nav class="navbar bg-body-tertiary navbar-expand-xl py-3 mt-3">
                <div class="container-fluid">
                    <a class="navbar-brand" href="/">
                        <img src="/imgs/udaya-hardwares-logo.png" alt="udaya_hardwares_logo" class="navbar_logo_img">
                    </a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas"
                        data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar"
                        aria-label="Toggle navigation"  style="background-color: #FFE5B5;">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar"
                        aria-labelledby="offcanvasNavbarLabel" style="background-color: #040000;">
                        <div class="offcanvas-header">
                            <h5 class="offcanvas-title" id="offcanvasNavbarLabel"><img src="/imgs/udaya-hardwares-logo.png" alt="udaya_hardwares_logo" class="navbar_logo_img"></h5>
                            <button type="button" class="btn-close" data-bs-dismiss="offcanvas"
                                aria-label="Close" style="background-color: #FFE5B5;"></button>
                        </div>
                        <div class="offcanvas-body">
                            <ul class="navbar-nav justify-content-end flex-grow-1">
                                <li class="nav-item pe-5">
                                    <a class="nav-link" href="/">Home</a>
                                </li>
                                <li class="nav-item pe-5">
                                    <a class="nav-link" href="/about-us">About Udaya</a>
                                </li>
                                <li class="nav-item dropdown pe-5">
                                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                        aria-expanded="false">
                                        Shop
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" href="/shop/tiles">Tiles</a></li>
                                        <li><a class="dropdown-item" href="/shop/sanitarywares">Sanitary Wares</a></li>
                                        <li><a class="dropdown-item" href="/shop/kitchenwares">Kitchen Wares</a></li>
                                        <!-- <li><a class="dropdown-item" href="/shop/hardware">Hardware</a></li> -->
                                        
                                    </ul>
                                </li>
                                <li class="nav-item pe-5">
                                    <a class="nav-link" href="/brands">Brands</a>
                                </li>
                                <li class="nav-item pe-5">
                                    <a class="nav-link" href="/branches">Branches</a>
                                </li>
                                <li class="nav-item pe-5">
                                    <a class="nav-link" href="/enquiry">Enquiry</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/contact-us">Contact Us</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </nav>


            <div class="container">
                <div class="row">
                    <div class="col-md-8 text-start py-4 animated-element slide-right">
                        <h1 class="enquiry_hero_heading display-2 fw-medium" style="color: #FAEACB;">Contact Us</h1>
                        <h2 class="enquiry_hero_subheading lh-base py-3 pb-4" style="color: #fff;">At Udaya Hardwares,
                            we take pride in being your go-to source for all things hardware.</h2>
                        <div class="enquiry_btn_div d-flex justify-content-between animated-element fade-in" style="animation-delay: 0.6s;">
                            <div class="d-flex align-items-center">
                                <button type="submit" class="enquiry_btn fs-5 fw-semibold">DISCOVER MORE</button>
                            </div>
                            <div>

                            </div>
                            <div class="d-flex align-items-center">
                                <i class="bi bi-arrow-right fs-3"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 hero_imgs_div position-relative animated-element slide-left">
                        <img src="/imgs/hero_img_1.png" alt="" class="hero_img_1 position-absolute">
                        <img src="/imgs/hero_banner_img_2.png" alt="" class="hero_img_2 position-absolute">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row animated-element fade-in">
            <div class="col-12 my-4 d-flex justify-content-center">
                <div class="d-flex align-items-center contact_heading_div py-3">
                    <img src="/imgs/breadcrumb_icon.png" alt="breadcrumb_icon" style="height: 3rem;">
                    <h1 class="text-center contact_heading mb-0 ps-3">Contact Us</h1>
                </div>
            </div>
        </div>
        <div class="row pb-4 animated-element slide-up">
            <div class="col-md-6">
                <p class="display-6 fw-medium">Reach out & Connect with Us</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 animated-element slide-right">
                <div class="contact_form ps-0">
                    <p class="contact_form_heading fs-3 mb-0">Get In Touch With Us And Enjoy Top-Notch Support</p>
                </div>
                <div class="contact_form mb-5">
                    <form action="">
                        <div class="mb-3 animated-element slide-up" style="animation-delay: 0.2s;">
                            <label for="contact_name" class="form-label">Your Name</label>
                            <input type="text" class="form-control contact_input" id="contact_name" required>
                        </div>
                        <div class="mb-3 animated-element slide-up" style="animation-delay: 0.4s;">
                            <label for="contact_email" class="form-label">Your Email</label>
                            <input type="email" class="form-control contact_input" id="contact_email" required>
                        </div>
                        <div class="mb-3 animated-element slide-up" style="animation-delay: 0.6s;">
                            <textarea name="message" id="contact_message" cols="30" rows="6"
                                class="form-control p-3 px-4 contact_textarea" placeholder="Your Message"
                                required></textarea>
                        </div>
                        <div class="send_msg_btn d-flex animated-element fade-in" style="animation-delay: 0.8s;">
                            <div>
                                <button type="submit" class="contact_btn">Send Message</button>
                            </div>
                            <div>
                                <i class="fa-solid fa-arrow-right-long align-self-center fs-2"></i>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-6 animated-element slide-left"> <p class="display-4 fw-medium mb-4 pb-4">Don't Hesitate to Contact Us</p>
                <div class="row mb-4 ps-4 pb-4">
                    <div class="col-xl-6 animated-element slide-up pb-4 pb-xl-0" style="animation-delay: 0.2s;">
                        <div class="contact_info d-flex">
                            <div class="contact_icon align-self-center me-3">
                                <i class="fa-solid fa-location-crosshairs icons d-flex align-items-center"></i>
                            </div>
                            <div class="contact_text align-self-center">
                                <p class="mb-0 contact_text_heading">Location</p>
                                <p class="mb-0">1234 Street Name, City, State, 12345</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 animated-element slide-up" style="animation-delay: 0.4s;">
                        <div class="contact_info d-flex">
                            <div class="contact_icon align-self-center me-3">
                                <i class="fa-solid fa-phone icons d-flex align-items-center"></i>
                            </div>
                            <div class="contact_text align-self-center">
                                <p class="mb-0 contact_text_heading">Phone</p>
                                <p class="mb-0">(123) 456-7890</p>
                                <p class="mb-0"></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row ps-4">
                    <div class="col-xl-6 animated-element slide-up pb-4 pb-xl-0" style="animation-delay: 0.6s;">
                        <div class="contact_info d-flex">
                            <div class="contact_icon align-self-center me-3">
                                <i class="fa-solid fa-envelope icons d-flex align-items-center"></i>
                            </div>
                            <div class="contact_text align-self-center">
                                <p class="mb-0 contact_text_heading">Work Hours</p>
                                <p class="mb-0">Mon - Fri: 9:00 AM - 5:00 PM</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 animated-element slide-up" style="animation-delay: 0.8s;">
                        <div class="contact_info d-flex">
                            <div class="contact_icon align-self-center me-3">
                                <i class="fa-solid fa-clock icons d-flex align-items-center"></i>
                            </div>
                            <div class="contact_text align-self-center">
                                <p class="mb-0 contact_text_heading">Email</p>
                                <p class="mb-0">info@example.com</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 my-4 m-md-4 ps-0 py-4 contact_form_socials d-flex justify-content-between animated-element fade-in" style="animation-delay: 1s;">
                        <p class="fw-semibold px-4 px-md-0" style="color: #C6850A;">Social Media:</p>
                        <div class="social_media_links">
                            <a href="#" class="me-3"><i class="fa-brands fa-facebook"></i></a>
                            <a href="#" class="me-3"><i class="fa-brands fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </section>

{{end}}