{{define "main"}}

<section id="enquiry_section">
    <!-- HERO SECTION -->
    <div class="enquiry_hero_banner">
        <div style="border: 2px solid #fff;" class="hero_div">

        
        <!-- <img src="/imgs/banner_rectangle_img.png" alt="Hero Banner Rectangle Image" class="position-absolute hero_rectangle_img"> -->
        <nav class="navbar bg-body-tertiary navbar-expand-lg py-5 mt-3 mb-5">
            <div class="container-fluid px-5 mx-5">
                <a class="navbar-brand" href="/">
                    <img src="/imgs/udaya-hardwares-logo.png" alt="udaya_hardwares_logo" class="navbar_logo_img">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Offcanvas</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <ul class="navbar-nav justify-content-end flex-grow-1">
                        <li class="nav-item pe-5">
                            <a class="nav-link" href="/">Home</a>
                        </li>
                        <li class="nav-item pe-5">
                            <a class="nav-link" href="/about-us">About Udaya</a>
                        </li>
                        <li class="nav-item pe-5">
                            <a class="nav-link" href="/shop">Shop</a>
                        </li>
                        <li class="nav-item pe-5">
                            <a class="nav-link" href="/brands">Brands</a>
                        </li>
                        <li class="nav-item pe-5">
                            <a class="nav-link" href="/branches">Branches</a>
                        </li>
                        <li class="nav-item pe-5">
                            <a class="nav-link" href="/enquiry">Enquiry</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/contact-us">Contact Us</a>
                        </li>
                    </ul>
                </div>
                </div>
            </div>
        </nav>

        <div class="container">
            <div class="row">
                <div class="col-md-8 text-start py-4">
                    <h1 class="enquiry_hero_heading display-2 fw-medium" style="color: #FAEACB;">Enquiry</h1>
                    <h2 class="enquiry_hero_subheading lh-base py-3 pb-4" style="color: #fff;">At Udaya Hardwares, we take pride in beling your go-to source for all things hardware.</h2>
                    <div class="enquiry_btn_div d-flex w-50 justify-content-between">
                        <div >
                            <button type="submit" class="enquiry_btn fs-5 fw-semibold">DISCOVER MORE</button>
                        </div>
                        <div>
                            
                        </div>
                        <div>
                            <i class="bi bi-arrow-right"></i>
                        </div>
                    </div>
                </div>
                <!-- <div class="col-md-4">
                    <div class="">
                        <img src="/imgs/hero_img_1.png" alt="" class="hero_img">
                    </div>
                    <div>
                        <img src="/imgs/hero_img_2.png" alt="" class="hero_img">
                    </div>
                </div> -->
            </div>
        </div>
        </div>
    </div>
    <!-- END HERO SECTION -->

    <div class="container">
        <div class="row">
            <div class="col-12 my-4 d-flex justify-content-center">
                <div class="d-flex align-items-center contact_heading_div py-3">
                    <img src="/imgs/breadcrumb_icon.png" alt="breadcrumb_icon" style="height: 3rem;">
                    <h1 class="text-center contact_heading mb-0 ps-3">Enquiry</h1>
                </div>
            </div>
        </div>
        <div class="row">
            <p class="text-center py-4 fs-semibold fs-4" style="color: #FFE5B5;">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
        </div>
        <div class="row">
            <div class="col-md-6">
                <img src="/imgs/enquiry_img.png" alt="Enquiry Image">
            </div>
            <div class="col-md-6">
                <div class="contact_form mb-5">
                    <form action="#">
                        <p class="contact_form_heading">Get In Touch With Us And Enjoy Top-Notch Support</p>
                        <div class="mb-3">
                            <label for="enquiry_name" class="form-label">Your Name</label>
                            <input type="text" class="form-control contact_input" id="enquiry_name" required>
                        </div>
                        <div class="mb-3">
                            <label for="enquiry_email" class="form-label">Your Email</label>
                            <input type="email" class="form-control contact_input" id="enquiry_email" required>
                        </div>
                        <div class="mb-3">
                            <textarea name="message" id="enquiry_message" cols="30" rows="6" class="form-control p-3 px-4 contact_textarea" placeholder="Your Message" required></textarea>
                        </div>
                        <div class="enquiry_btn_div d-flex w-50">
                            <div>
                                <button type="submit" class="enquiry_btn">Send Message</button>
                            </div>
                            <div>
                                <i class="fa-solid fa-arrow-right-long align-self-center fs-2"></i>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

{{end}}