{{define "main"}}

<section id="sanitarywares_section">
    <div class="enquiry_hero_banner">
        <div style="border: 2px solid #fff;" class="hero_div">
            <nav class="navbar bg-body-tertiary navbar-expand-xl py-3 mt-3">
                <div class="container-fluid">
                    <a class="navbar-brand" href="/">
                        <img src="/imgs/udaya-hardwares-logo.png" alt="udaya_hardwares_logo" class="navbar_logo_img">
                    </a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas"
                        data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation"
                        style="background-color: #FFE5B5;">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar"
                        aria-labelledby="offcanvasNavbarLabel" style="background-color: #040000;">
                        <div class="offcanvas-header">
                            <h5 class="offcanvas-title" id="offcanvasNavbarLabel"><img
                                    src="/imgs/udaya-hardwares-logo.png" alt="udaya_hardwares_logo"
                                    class="navbar_logo_img"></h5>
                            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"
                                style="background-color: #FFE5B5;"></button>
                        </div>
                        <div class="offcanvas-body">
                            <ul class="navbar-nav justify-content-end flex-grow-1">
                                <li class="nav-item pe-5">
                                    <a class="nav-link" href="/">Home</a>
                                </li>
                                <li class="nav-item pe-5">
                                    <a class="nav-link" href="/about-us">About Udaya</a>
                                </li>
                                <li class="nav-item dropdown pe-5">
                                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                        aria-expanded="false">
                                        Shop
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" href="/shop/tiles">Tiles</a></li>
                                        <li><a class="dropdown-item" href="/shop/sanitarywares">Sanitary Wares</a></li>
                                        <li><a class="dropdown-item" href="/shop/kitchenwares">Kitchen Wares</a></li>
                                        <li><a class="dropdown-item" href="/shop/hardwares">Hardwares</a></li>
                                        
                                    </ul>
                                </li>
                                <li class="nav-item pe-5">
                                    <a class="nav-link" href="/brands">Brands</a>
                                </li>
                                <li class="nav-item pe-5">
                                    <a class="nav-link" href="/branches">Branches</a>
                                </li>
                                <li class="nav-item pe-5">
                                    <a class="nav-link" href="/enquiry">Enquiry</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/contact-us">Contact Us</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </nav>


            <div class="container">
                <div class="row">
                    <div class="col-md-8 text-start py-4 animated-element slide-right">
                        <h1 class="enquiry_hero_heading display-2 fw-medium" style="color: #FAEACB;">Our Sanitarywares</h1>
                        <h2 class="enquiry_hero_subheading lh-base py-3 pb-4" style="color: #fff;">Discover quality sanitaryware built for comfort, hygiene, and style. From basins to toilets, we bring you trusted brands and elegant designs for every space.</h2>
                        <!-- <div class="enquiry_btn_div d-flex justify-content-between animated-element fade-in"
                            style="animation-delay: 0.6s;">
                            <div class="d-flex align-items-center">
                                <button type="submit" class="enquiry_btn fs-5 fw-semibold"><a href="/about-us">DISCOVER MORE</a></button>
                            </div>
                            <div>

                            </div>
                            <div class="d-flex align-items-center">
                                <i class="bi bi-arrow-right fs-3"></i>
                            </div>
                        </div> -->
                    </div>
                    <div class="col-md-4 hero_imgs_div position-relative animated-element slide-left">
                        <img src="/imgs/hero_img_1.png" alt="" class="hero_img_1 position-absolute">
                        <img src="/imgs/hero_banner_img_2.png" alt="" class="hero_img_2 position-absolute">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="sanitarywares_shop_section">
        <div class="container">
            <div class="row">
                <div class="col-12" style="padding: 4rem;">
                    <div class="d-flex justify-content-center">
                        <div class="d-flex align-items-center contact_heading_div py-3">
                            <img src="/imgs/breadcrumb_icon.png" alt="breadcrumb_icon" style="height: 3rem;">
                            <h1 class="text-center contact_heading mb-0 ps-3">Sanitarywares</h1>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row animated-element slide-up">
                <!-- <p class="text-center fs-semibold fs-4" style="color: #FFE5B5;">Discover Our Latest Products</p> -->
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="filter_btn mb-3">
                        <a href="javascript:void(0)" class="">
                        <p class="px-3 py-4 mb-0 fw-semibold">OUR BRANDS</p>
                    </a>
                    </div>
                    <div class="filter_btn_filter mb-3">
                        <a href="javascript:void(0)" class="">
                        <p class="px-3 py-4 mb-0 fw-semibold">Kohler</p>
                    </a>
                    </div>
                    <div class="filter_btn_filter mb-3">
                        <a href="javascript:void(0)" class="">
                        <p class="px-3 py-4 mb-0 fw-semibold">Parryware</p>
                    </a>
                    </div>
                    <div class="filter_btn_filter mb-3">
                        <a href="javascript:void(0)" class="">
                        <p class="px-3 py-4 mb-0 fw-semibold">Jaquar</p>
                    </a>
                    </div>
                    <div class="filter_btn_filter mb-3">
                        <a href="javascript:void(0)" class="">
                        <p class="px-3 py-4 mb-0 fw-semibold">Viking</p>
                    </a>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="row g-3">
                        <div class="col-md-6">
                            <div class="p-3" style="background-color: #4C350A8F;">
                                <img src="/imgs/kohler/sanitarywares/avec-bathtub-kohler.png" alt=""
                                    class="w-100" style="height: 400px;">
                                <p class="mb-0 pt-3 text-center fw-semibold" style="color: #FFF;">Avec Bathtub</p>
                                <p class="mb-0 text-center fw-semibold " style="color: #FFF;">(KOHLER)</p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="p-3" style="background-color: #4C350A8F;">
                                <img src="/imgs/parryware_imgs/sanitarywares/chromotherapy-waterfall-chrome-therapy-led-waterfall-shower.jpg" alt="" class="w-100"
                                    style="height: 400px;">
                                <p class="mb-0 pt-3 text-center fw-semibold" style="color: #FFF;">CHROMETHERAPY Led Waterfall Shower</p>
                                <p class="mb-0 text-center fw-semibold " style="color: #FFF;">(PARRYWARE)</p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="p-3" style="background-color: #4C350A8F;">
                                <img src="/imgs/parryware_imgs/sanitarywares/indus-wall-hung-basin.jpg" alt="" class="w-100"
                                    style="height: 400px;">
                                <p class="mb-0 pt-3 text-center fw-semibold" style="color: #FFF;">Indus Wall Hung Basin</p>
                                <p class="mb-0 text-center fw-semibold " style="color: #FFF;">(PARRYWARE)</p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="p-3" style="background-color: #4C350A8F;">
                                <img src="/imgs/jaquar/sanitarywares/jaq-brushed-stainless-steel-shower-panel-jaquar.jpeg"
                                    alt="" class="w-100" style="height: 400px;">
                                <p class="mb-0 pt-3 text-center fw-semibold" style="color: #FFF;">JAQ Brushed Stainless Steel Shower Panel</p>
                                <p class="mb-0 text-center fw-semibold " style="color: #FFF;">(JAQUAR)</p>
                                </div>
                        </div>
                        <div class="col-md-6">
                            <div class="p-3" style="background-color: #4C350A8F;">
                                <img src="/imgs/jaquar/sanitarywares/automatic-rimless-floor-mounted-wc-jaquar.jpeg"
                                    alt="" class="w-100" style="height: 400px;">
                                <p class="mb-0 pt-3 text-center fw-semibold" style="color: #FFF;">Automatic Rimless Floor Mounted WC</p>
                                <p class="mb-0 text-center fw-semibold " style="color: #FFF;">(JAQUAR)</p>
                                </div>
                        </div>
                        <div class="col-md-6">
                            <div class="p-3" style="background-color: #4C350A8F;">
                                <img src="/imgs/viking/sanitaryware/rain-shower-round-viking.jpeg" alt="" class="w-100"
                                    style="height: 400px;">
                                <p class="mb-0 pt-3 text-center fw-semibold" style="color: #FFF;">Rain Shower Round</p>
                                <p class="mb-0 text-center fw-semibold " style="color: #FFF;">(VIKING)</p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="p-3" style="background-color: #4C350A8F;">
                                <img src="/imgs/kohler/sanitarywares/parallel-bathtub-faucet-kohler.png" alt="" class="w-100"
                                    style="height: 400px;">
                                <p class="mb-0 pt-3 text-center fw-semibold" style="color: #FFF;">Parallel Bathtub Faucet</p>
                                <p class="mb-0 text-center fw-semibold " style="color: #FFF;">(KOHLER)</p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="p-3" style="background-color: #4C350A8F;">
                                <img src="/imgs/jaquar/sanitarywares/kubix-prime-combi-system-jaquar.jpeg" alt="" class="w-100" style="height: 400px;">
                                <p class="mb-0 pt-3 text-center fw-semibold" style="color: #FFF;">Kubix Prime Combi System</p>
                                <p class="mb-0 text-center fw-semibold " style="color: #FFF;">(JAQUAR)</p>
                            </div>
                        </div>
                        <div class="col-md-6" style="background-color: #4C350A8F;">
                            <div class="p-3">
                                <img src="/imgs/jaquar/sanitarywares/counter-top-basin-jaquar.jpeg" alt="" class="w-100" style="height: 400px;">
                                <p class="mb-0 pt-3 text-center fw-semibold" style="color: #FFF;">Counter Top Basin</p>
                                <p class="mb-0 text-center fw-semibold " style="color: #FFF;">(JAQUAR)</p>
                            </div>
                        </div>
                        <!-- <div class="col-md-6" style="background-color: #4C350A8F;">
                            <div class="p-3">
                                <img src="/imgs/parryware_imgs/sanitarywares/standard-full-pedestal.jpg" alt="" class="w-100" style="height: 400px;">
                                <p class="mb-0 pt-3 text-center fw-semibold" style="color: #FFF;">STANDARD Full Pedestal</p>
                            </div>
                        </div> -->
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="top_selling_section_shop py-5 mt-5">
        <div class="container" style="color: #4C350A8F;">
            <div class="row">
                <p class="text-center fw-semibold display-5" style="color: #FFE5B5;">Discover Our Latest & Trending Sanitaryware Products</p>
            </div>

            <!-- Sanitarywares Carousel Section -->
<div class="row sanitarywares-carousel-buttons-row">
    <div class="col-12 d-flex justify-content-between">
        <!-- Buttons for Sanitarywares Carousel - Note the unique classes -->
        <button class="left_btn px-5 mx-5 sanitarywares_carousel_prev"><i
                class="bi bi-arrow-left fs-4"></i></button>
        <button class="right_btn px-5 mx-5 sanitarywares_carousel_next"><i
                class="bi bi-arrow-right fs-4"></i></button>
    </div>
</div>

<div class="row mt-5">
    <div class="swiper mySanitarywaresCarousel"> <!-- Unique class name for this carousel -->
        <div class="swiper-wrapper">
            <!-- Sanitarywares Carousel Slides -->
            <div class="swiper-slide sanitarywares_slide">
                <img src="/imgs/jaquar/sanitarywares/thin-rim-table-top-basin-jaquar.jpeg" alt="" class="w-100">
                <p style="color: #FFF;" class="mb-0">Thin Rim Table Top Basin</p>
                <p style="color: #FFF;" class="mb-0">(JAQUAR)</p>
            </div>
            <div class="swiper-slide sanitarywares_slide">
                <img src="/imgs/kohler/sanitarywares/artifacts-bathtub-kohler.png" alt="" class="w-100">
                <p style="color: #FFF;" class="mb-0">Artifacts Bathtub</p>
                <p style="color: #FFF;" class="mb-0">(KOHLER)</p>
            </div>
            <div class="swiper-slide sanitarywares_slide">
                <img src="/imgs/jaquar/sanitarywares/blak-shower-panel-jaquar.jpeg" alt="" class="w-100">
                <p style="color: #FFF;" class="mb-0">Blak Shower Panel</p>
                <p style="color: #FFF;" class="mb-0">(JAQUAR)</p>
            </div>
            <div class="swiper-slide sanitarywares_slide">
                <img src="/imgs/parryware_imgs/sanitarywares/multi-flow-3f-airmix-hand-shower-parryware.jpg" alt="" class="w-100">
                <p style="color: #FFF;" class="mb-0">Multi Flow 3F Airmix Hand Shower</p>
                <p style="color: #FFF;" class="mb-0">(PARRYWARE)</p>
            </div>
            <!-- <div class="swiper-slide sanitarywares_slide">
                <img src="/imgs/sanitarywares_img.png" alt="" class="w-100">
                <p style="color: #FFF;"></p>
            </div> -->
            <!-- Add more sanitarywares slides here as needed -->
        </div>
    </div>
</div>
<!-- End Sanitarywares Carousel Section -->


        </div>
    </div>
    <div class="home_contact_section py-5">
        <div class="container">
            <div class="row">
                <div class="col-md-6 pe-5 animated-element slide-right">
                    <div class="row">
                        <div class="col-12">
                            <p class="fs-3 reach_out_text">Reach Out & Connect With Us</p>
                        </div>
                    </div>
                    <hr style="color: #fff; width: 80%; opacity: 1;">
                    <div class="row">
                        <div class="col-12">
                            <p style="color: #fff;">Our vision is to deliver innovative, independent flooring solutions
                                that enhance homes, industries, and workspaces — the kind of quality we trust for our
                                own spaces too.</p>
                        </div>
                    </div>
                    <div class="row contact_form_info_div p-3 p-lg-5">
                        <div class="col-12">
                            <div class="row">
                                <div class="col-12 d-flex">
                                    <div class="contact_form_info_icon">
                                        <i class="fa-solid fa-phone"></i>
                                    </div>
                                    <div class="ps-4 d-flex align-items-center">
                                        <p style="color: #fff;" class="mb-0">+91 94425 42298</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 d-flex">
                                    <div class="contact_form_info_icon">
                                        <i class="fa-solid fa-envelope"></i>
                                    </div>
                                    <div class="ps-4 d-flex align-items-center">
                                        <p style="color: #fff;" class="mb-0">email@gmail.com</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 d-flex">
                                    <div class="contact_form_info_icon">
                                        <i class="fa-solid fa-location-crosshairs"></i>
                                    </div>
                                    <div class="ps-4 d-flex align-items-center">
                                        <p style="color: #fff;" class="mb-0">Near Bus Stand, THINGAL NAGAR</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-md-6 animated-element slide-left">
                    <div class="contact_form ps-0">
                        <p class="contact_form_heading fs-3 mb-0">Have a question or need expert advice? We're here to
                            help — drop us a message!</p>
                    </div>
                    <div class="contact_form">
                        <form action="https://formspree.io/f/xkgbyoal" method="POST">
                            <div class="mb-3">
                                <label for="contact_name" class="form-label">Your Name</label>
                                <input type="text" name="name" class="form-control contact_input" id="contact_name" required>
                            </div>
                            <div class="mb-3">
                                <label for="contact_email" class="form-label">Your Email</label>
                                <input type="email" name="email" class="form-control contact_input" id="contact_email" required>
                            </div>
                            <div class="mb-3">
                                <textarea name="message" id="contact_message" cols="30" rows="6"
                                    class="form-control p-3 px-4 contact_textarea" placeholder="Your Message"
                                    required></textarea>
                            </div>
                            <div class="send_msg_btn d-flex">
                                <div>
                                    <button type="submit" class="contact_btn">Send Message</button>
                                </div>
                                <div>
                                    <i class="fa-solid fa-arrow-right-long align-self-center fs-2"></i>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{{end}}