<footer>
    <div id="footer_section">
        <div class="container">
            <div class="row">
                <div class="col-lg-5">
                    <div class="footer_logo">
                        <img src="/imgs/udaya-hardwares-logo.png" alt="udaya_hardwares_logo" class="footer_logo_img">
                    </div>
                    <div class="footer_text">
                        <p class="lh-lg pe-4">Udaya Hardware is located in the Capital of Kanyakumari district - Nagercoil. We are trading Tiles, Sanitary, Kitchen and Paints, the 4 decades of unmatched contributions to its credit.</p>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="footer_links">
                        <h4 class="fw-semibold">Our Company</h4>
                        <ul>
                            <li class="py-4"><i class="fa-solid fa-arrow-right pe-4"></i><a href="/about-us">About Udaya</a></li>
                            <li class="py-4"><i class="fa-solid fa-arrow-right pe-4"></i><a href="/shop">Our Products</a></li>
                            <li class="py-4"><i class="fa-solid fa-arrow-right pe-4"></i><a href="/brands">Our Brands</a></li>
                            <!-- <li class="py-4"><i class="fa-solid fa-arrow-right pe-4"></i><a href="#">Delivery Methods</a></li> -->
                            <li class="py-4"><i class="fa-solid fa-arrow-right pe-4"></i><a href="/enquiry">Enquiry</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="footer_links">
                        <h4 class="fw-semibold">Products</h4>
                        <ul>
                            <li class="py-4"><i class="fa-solid fa-arrow-right pe-4"></i><a href="/shop/tiles">Tiles</a></li>
                            <li class="py-4"><i class="fa-solid fa-arrow-right pe-4"></i><a href="/shop/kitchenwares">Kitchenwares</a></li>
                            <li class="py-4"><i class="fa-solid fa-arrow-right pe-4"></i><a href="/shop/sanitarywares">Sanitarywares</a></li>
                            <li class="py-4"><i class="fa-solid fa-arrow-right pe-4"></i><a href="/shop/hardwares">Hardwares</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="footer_links">
                        <h4 class="fw-semibold">Get In Touch</h4>
                        <ul>
                            <li class="py-4 d-flex">
                                <div class="footer_icon me-3 align-self-center">
                                    <i class="fa-solid fa-location-crosshairs icons"></i>
                                </div>
                                 <p class="fs-4 mb-0">Lorem Ipsum is simple dummy text</p>
                            </li>
                            <li class="py-4 d-flex">
                                <div class="footer_icon me-3 align-self-center">
                                    <i class="fa-solid fa-phone icons"></i>
                                </div>
                                <p class="fs-4 mb-0 align-self-center">+91 1234567890</p>
                            </li>
                            <li class="py-4 d-flex">
                                <div class="footer_icon me-3 align-self-center">
                                    <i class="fa-solid fa-envelope icons"></i>
                                </div>
                                <p class="fs-4 mb-0">Lorem Ipsum is simple dummy text</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="footer_bottom">
                        <p class="mb-0">&copy; Copyrights 2025 by Udaya Hardware. All rights reserved.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
