/* COMMON STYLES */

body {
    padding: 0;
    margin: 0;
    min-height: 100vh;
    background-color: #18100B;
}
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: #fff;
}

.icons {
    color: #442E05;
}

/* END COMMON STYLES */

/* HEADER STYLES */

.bg-body-tertiary {
    background-color: transparent !important;
}

.nav-link {
    color: #FFF4E1 !important;
    font-weight: 600;
}

.navbar_logo_img {
    width: 16rem;
}

/* END HEADER STYLES */

/* FOOTER STYLES */

footer {
    /* height: 570px; */
    background: #A67415;
    background: linear-gradient(273deg, rgba(166, 116, 21, 1) 0%, rgba(44, 31, 6, 1) 75%);
    color: #fff;
    padding: 1.75rem 0 0 0;
}

.footer_bottom {
    border-top: 2px solid #fff;
    padding: 1.75rem 0;
    margin: 2rem 0 0 0;
}

.footer_logo {
    height: 200px;
}

.footer_icon > i {
    color: #000;
    font-size: 1.5rem;
    border-radius: 50%;
    background-color: #FFF4E1;
    padding: 1rem;
}

.footer_logo_img {
    width: 75%;
    display: flex;
    height: 7.5rem;
    margin-top: 3rem;
}

/* END FOOTER STYLES */

/* CONTACT PAGE STYLES */
#contact_section {
    color: #FFE5B5;
}

.contact_heading_div {
    border-top: 1px solid #C6850A;
    border-bottom: 1px solid #C6850A;
    
}

.contact_form {
    background-color: #231907;
    color: #fff;
    padding: 0.5rem 2rem 2rem 2rem;
}

.contact_form_heading {
    border-left: 8px solid #C6850A;
    padding-left: 1.5rem;
    margin-top: 2rem;
}

.contact_heading {
    color: #C6850A;
}

.contact_form_socials {
    border-top: 2px solid #C6850A;
}

.contact_icon {
    color: #FED991;
    font-size: 1.5rem;
    border-radius: 50%;
    background-color: #FED991;
    padding: 1rem;
}

.contact_info {
    background: #7C5D21;
    background: linear-gradient(180deg, rgba(124, 93, 33, 1) 0%, rgba(74, 53, 13, 1) 83%);
    padding: 1rem;
    border-radius: 8px;
}

.contact_text_heading {
    color: #fff;
    font-weight: 600;
}

.contact_input {
    background-color: #231907;
    border: none;
    border-radius: 0%;
    border-bottom: 1px solid #fff;
}

.enquiry_btn_div, .contact_btn_div {
    background-color: #C6850A;
    color: #fff;
    border: none;
    padding: 1rem 1.5rem;
    border-radius: 4px;
    display: flex;
    text-transform: capitalize;
}

.enquiry_btn, .contact_btn {
    background-color: #C6850A;
    color: #fff;
    border: none;
}

.contact_textarea {
    background-color: #120C02;
    border: none;
    border-radius: 0%;
}

.contact_textarea::placeholder {
    color: #929292;
}

/* ENQUIRY PAGE STYLES */

.enquiry_hero_banner {
    background: linear-gradient(rgba(0, 0, 0, .4), rgba(0, 0, 0, .4)), url('/imgs/enquiry_hero_img.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    padding: 3rem 8rem;
}

.hero_rectangle_img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 6rem 10rem;
}

/* .hero_img {
    width: 70%;
    border: 2px solid red;
    display: flex;
    text-align: center;
} */

.hero_imgs_div {
    position: absolute;
}

.hero_img_1 {
    width: 50%;
    position: relative;
}

.hero_img_2 {
    width: 50%;
    position: relative;
    z-index: 999;
    top: -1rem;
    left: -10rem;
}

.hero_div {
    /* padding: 4rem; */
    /* margin-bottom: 5rem; */
    height: 90vh;
}

/* BRANCHES PAGE */

.branches_div {
    border: 2px solid #FFE5B5;
    border-radius: 8px;
}


.branches_view_btn {
    color: #C6850A;
    font-weight: 700;
    border: 2px solid #C6850A;
    background-color: #18100B;
    width: 25%;
    padding: 1.5rem;
    margin: 4rem;
}

/* HOME PAGE */

.home_contact_section {
    background: linear-gradient(rgba(0, 0, 0, .4), rgba(0, 0, 0, .4)), url('/imgs/home_contact_img.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* height: 80vh; */
}

.contact_form_info_div {
    background: linear-gradient(rgba(0, 0, 0, .4), rgba(0, 0, 0, .4)), url('/imgs/contact_form_black_img.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 2rem;
}