{{ define "main" }}
  
<section id="home_section">
  <!-- HERO SECTION -->
    <div class="enquiry_hero_banner">
        <div style="border: 2px solid #fff;" class="hero_div">

        
        <!-- <img src="/imgs/banner_rectangle_img.png" alt="Hero Banner Rectangle Image" class="position-absolute hero_rectangle_img"> -->
        <nav class="navbar bg-body-tertiary navbar-expand-lg py-5 mt-3">
            <div class="container-fluid px-5 mx-5">
                <a class="navbar-brand" href="/">
                    <img src="/imgs/udaya-hardwares-logo.png" alt="udaya_hardwares_logo" class="navbar_logo_img">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Offcanvas</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <ul class="navbar-nav justify-content-end flex-grow-1">
                        <li class="nav-item pe-5">
                            <a class="nav-link" href="/">Home</a>
                        </li>
                        <li class="nav-item pe-5">
                            <a class="nav-link" href="/about-us">About Udaya</a>
                        </li>
                        <li class="nav-item pe-5">
                            <a class="nav-link" href="/shop">Shop</a>
                        </li>
                        <li class="nav-item pe-5">
                            <a class="nav-link" href="/brands">Brands</a>
                        </li>
                        <li class="nav-item pe-5">
                            <a class="nav-link" href="/branches">Branches</a>
                        </li>
                        <li class="nav-item pe-5">
                            <a class="nav-link" href="/enquiry">Enquiry</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/contact-us">Contact Us</a>
                        </li>
                    </ul>
                </div>
                </div>
            </div>
        </nav>

        <div class="container">
            <div class="row">
                <div class="col-md-8 text-start py-4">
                    <p class="enquiry_hero_subheading lh-base" style="color: #fff;">Welcome to Udaya Hardwares</p>
                    <h1 class="enquiry_hero_heading display-2 fw-medium py-3 pb-4" style="color: #FAEACB;">Everything You Need for the Perfect Finish.</h1>
                    <div class="enquiry_btn_div d-flex w-50 justify-content-between">
                        <div >
                            <button type="submit" class="enquiry_btn fs-5 fw-semibold">DISCOVER MORE</button>
                        </div>
                        <div>
                            
                        </div>
                        <div>
                            <i class="bi bi-arrow-right"></i>
                        </div>
                    </div>
                </div>
                <!-- <div class="col-md-4 hero_imgs_div d-flex">
                    <div class="">
                        <img src="/imgs/hero_img_1.png" alt="" class="hero_img_1">
                    </div>
                    <div>
                        <img src="/imgs/hero_img_2.png" alt="" class="hero_img_2">
                    </div>
                </div> -->
            </div>
        </div>
        </div>
    </div>
  <!-- END HERO SECTION -->

  <!-- ABOUT SECTION -->
  <div class="home_about_section">
    <div class="container">
        <div class="row">
          <div class="col-md-6">
            <img src="" alt=""> 
          </div>
          <div class="col-md-6">
            <div class="row">
              <div class="col-12 justify-content-start d-flex my-4">
                <div class="d-flex align-items-center contact_heading_div py-3">
                    <img src="/imgs/breadcrumb_icon.png" alt="breadcrumb_icon" style="height: 3rem;">
                    <h1 class="text-center contact_heading mb-0 ps-3">About Us</h1>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <p class="text-start py-4 fs-semibold fs-4" style="color: #FFE5B5;">Welcome to Our Shop</p>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <p class="text-start fs-5" style="color: #FFE5B5;">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
              </div>
              <div class="col-12">
                <p class="text-start fs-5" style="color: #FFE5B5;">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
              </div>
              <div class="col-12">
                <p class="text-start fs-5" style="color: #FFE5B5;">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
  <!-- END ABOUT SECTION -->

  <!-- WHAT WE OFFER SECTION -->
  <div class="home_we_offer_section">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="d-flex align-items-center contact_heading_div py-3">
            <img src="/imgs/breadcrumb_icon.png" alt="breadcrumb_icon" style="height: 3rem;">
            <h1 class="text-center contact_heading mb-0 ps-3">About Us</h1>
          </div>
        </div>
        <div class="col-md-8">
          <p class="we_offer_heading fs-3 mb-0">Discover Our Best Offers For Your Home</p>
        </div>
      </div>
    </div>
  </div>
  <!-- END WHAT WE OFFER SECTION -->

  <!-- POPULAR PRODUCTS SECTION -->
  <div class="home_popular_products_section">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="d-flex justify-content-center my-4">
            <div class="d-flex align-items-center contact_heading_div py-3">
              <img src="/imgs/breadcrumb_icon.png" alt="breadcrumb_icon" style="height: 3rem;">
              <h1 class="text-center contact_heading mb-0 ps-3">Our Popular Products</h1>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        
      </div>
    </div>
  </div>
  <!-- END POPULAR PRODUCTS SECTION -->

  <!-- CONTACT FORM SECTION -->
  <div class="home_contact_section py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="row">
            <div class="col-12">
              <p style="color: #fff; width: 40%;" class="fs-3" >Reach Out & Connect With Us</p>
            </div>
          </div>
          <hr style="color: #fff; width: 80%; opacity: 1;">
          <div class="row">
            <div class="col-12">
              <p style="color: #fff;">Our vision is to provide innovative, independent flooring solutions that solve problems for homes, industries, and workspaces, as well as flooring we would like in our own residences, work spaces.</p>
            </div>
          </div>
          <div class="row contact_form_info_div p-5">
            <div class="col-12">
              <div class="row">
                <div class="col-12 d-flex">
                  <div>
                    <i class="fa-solid fa-phone"></i>
                  </div>
                  <div class="ps-4">
                    <p style="color: #fff;">dummy text</p>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12 d-flex">
                  <div>
                    <i class="fa-solid fa-envelope"></i>
                  </div>
                  <div class="ps-4">
                    <p style="color: #fff;">dummytext@gmail.com</p>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12 d-flex">
                  <div>
                    <i class="fa-solid fa-location-dot"></i>
                  </div>
                  <div class="ps-4">
                    <p style="color: #fff;">dummy text</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
        </div>
        <div class="col-md-6">
          <div class="contact_form ps-0">
                    <p class="contact_form_heading fs-3 mb-0">Get In Touch With Us And Enjoy Top-Notch Support</p>
                </div>
                <div class="contact_form">
                    <form action="">
                        <!-- <p class="contact_form_heading fs-3">Get In Touch With Us And Enjoy Top-Notch Support</p> -->
                        <div class="mb-3">
                            <label for="contact_name" class="form-label">Your Name</label>
                            <input type="text" class="form-control contact_input" id="contact_name" required>
                        </div>
                        <div class="mb-3">
                            <label for="contact_email" class="form-label">Your Email</label>
                            <input type="email" class="form-control contact_input" id="contact_email" required>
                        </div>
                        <div class="mb-3">
                            <textarea name="message" id="contact_message" cols="30" rows="6" class="form-control p-3 px-4 contact_textarea" placeholder="Your Message" required></textarea>
                        </div>
                        <div class="contact_btn_div d-flex w-50">
                            <div>
                                <button type="submit" class="contact_btn">Send Message</button>
                            </div>
                            <div>
                                <i class="fa-solid fa-arrow-right-long align-self-center fs-2"></i>
                            </div>
                        </div>
                    </form>
                </div>
        </div>
      </div>
    </div>
  </div>
  <!-- END CONTACT FORM SECTION -->

</section>

{{ end }}
